body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div {
  margin: 20px auto;
}

.App .container {
  margin: 20px auto;
  width: 80%;
}

.App label {
  margin: auto 30px;
  height: 100%;
  width: 20%;
}

.App .input-group {
  margin: 20px auto;
  max-height: 50px;
}

.App .input-group button {
  max-height: 100px;
  width: 40%;
  margin: 0 auto;
}
